.usersPageWrapper {
  --users-page-padding-x: 32px;

  display: grid;
  grid-template-areas:
    'header header'
    'main   aside';
  grid-template-columns: 1fr auto;
  padding-bottom: var(--users-page-padding-x);
  column-gap: 6px;
}

.header {
  grid-area: header;
  padding-top: 32px;
  padding-bottom: 24px;
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
  width: 100%;
  max-width: var(--aside-width);
}
