.usersPageWrapper {
  display: grid;
  grid-template: 1fr auto / 1fr;
  grid-template-areas:
    'header header'
    'main   aside'
    'main   footer';
  grid-template-rows: var(--header-height) 1fr auto;
  min-height: 100dvh;
  column-gap: 6px;

  @media screen and (width <= 768px) {
    --header-height: 86px;

    grid-template-areas:
      'header header'
      'aside   aside'
      'main   main';
  }
}

.header {
  grid-area: header;
  padding-top: 32px;
  padding-bottom: 24px;

  @media screen and (width <=768px) {
    padding-top: 16px;
    padding-bottom: 8px;
  }
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
  width: 100%;
  max-width: var(--aside-width);

  @media screen and (width <= 768px) {
    margin-bottom: 16px;
  }
}

.footer {
  grid-area: footer;
  width: 100%;
  height: var(--footer-height);
}
