@import '@/app/styles/mixins';

.userCardHeader {
  display: flex;
  column-gap: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;

  span {
    @include text-ellipsis;
  }
}

.userName {
  overflow: hidden;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selectedAvtar {
  opacity: 1;
}
