.sidebar {
  width: 100%;
  min-width: 332px;
  min-height: 100%;
  padding: 24px;
  background-color: var(--clr-nightfall);
  border-radius: var(--border-radius);

  @media screen and (width <=768px) {
    min-width: 100%;
    padding: 12px;
  }
}
